<div id="user-skill-<%= user_skill.id %>" class="skill-item d-flex align-items-center justify-content-between<%= " float-left" if i >= 6%>" >

    <div class="d-flex align-items-center">
        <%= render partial: 'user_skills/endorse_button', locals: {user_skill: user_skill, user: user} %>
    
        <p class="skill-name"><%= link_to user_skill.name, skill_tag_path(user_skill.skill_tag), style: "color: black" %></p>    
            
        <% if current_user?(user) %>
            <%= link_to "×", user_skill, method: :delete, data: {confirm: "Are you sure to delete this skill?"}, class: "delete-link" %>
        <% end %>
    </div>
    
    <% if user_skill.endorsers.any? && i <= 5  %>
        <div class="endorser-list">
            <% user_skill.endorsers.each.with_index do |endorser, j| %>
                <% break if j > 9 %>
                <%= link_to gravatar_for(endorser, size: 28), endorser , class: "circle", alt: endorser.name, title: endorser.name %>
            <% end %>
        </div>    
    <% end %>
        
</div>
