<div id="user-skill-<%= user_skill.id %>" class="skill-item d-flex align-items-center justify-content-between<%= " float-left" if i >= 6%>" >

    <div class="d-flex align-items-center">
        <div class="skill-endorsement-button <%= "disabled" if user_skill.endorsed?(current_user) %>"> 
            <% condition = !user_skill.endorsed?(current_user) && !current_user?(@user) %>
            <%= render partial: 'user_skills/endorse', locals: {endorse_skill: user_skill} if condition%>
    
            <p class="endorsement-num"><%= user_skill.endorsements_count %></p>
        </div>
    
        <p class="skill-name"><%= user_skill.name %></p>
        
            
        <% if current_user?(@user) %>
            <%= link_to "×", user_skill, method: :delete, data: {confirm: "Are you sure to delete this skill?"}, class: "delete-link" %>
        <% end %>
    </div>
    
    <% if user_skill.endorsers.any? && i <= 5  %>
        <div class="endorser-list">
            <% user_skill.endorsers.each.with_index do |endorser, j| %>
                <% break if j > 9 %>
                <%= link_to gravatar_for(endorser, size: 28), endorser , class: "circle", alt: endorser.name, title: endorser.name %>
            <% end %>
        </div>    
    <% end %>
        
</div>
